openapi: 3.0.3
info:
  title: PMIS  — Inventory API
  description: |
    REST API for Inventory Management (Safaricom Healthcare PMIS). Operational deployment
    aligns with the API gateway prefix **/api/v1**; `servers[0].url` should be appended
    before each path (for example `/inventory/products`).
  version: 1.1.0
  contact:
    name: PMIS Engineering

servers:
  - url: https://api.pmis.safaricom.com/api/v1
    description: Production (gateway)
  - url: https://api-staging.pmis.safaricom.com/api/v1
    description: Staging (gateway)
  - url: http://localhost:{port}/api/v1
    description: Local inventory service
    variables:
      port:
        default: "8080"

tags:
  - name: Products
  - name: Batches
  - name: Stock Adjustments
  - name: Purchase Orders
  - name: Sales
  - name: Revenue
  - name: Reports
  - name: Terminology Service
  - name: Manufacturers
  - name: Categories
  - name: Suppliers
  - name: Supplier Groups
  - name: Metadata

security:
  - BearerAuth: []

paths:
  /inventory/categories:
    get:
      tags: [Categories]
      operationId: listCategories
      responses:
        '200':
          description: List of ERPNext Item Groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryListResponse'
    post:
      tags: [Categories]
      operationId: createCategory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCategoryRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'

  /inventory/categories/{id}:
    get:
      tags: [Categories]
      operationId: getCategory
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
    put:
      tags: [Categories]
      operationId: updateCategory
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCategoryRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
    delete:
      tags: [Categories]
      operationId: deleteCategory
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Deleted

  /inventory/suppliers:
    get:
      tags: [Suppliers]
      operationId: listSuppliers
      summary: List suppliers for the tenant
      description: |
        Paginated supplier list with optional server-side name search.
        Response bodies use **camelCase** JSON properties.
      parameters:
        - name: search
          in: query
          schema:
            type: string
          description: Partial match on supplier name
        - name: page
          in: query
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: size
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 200
      responses:
        '200':
          description: Paginated suppliers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierPage'
    post:
      tags: [Suppliers]
      operationId: createSupplier
      summary: Create a supplier in ERPNext
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSupplierRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supplier'

  /inventory/suppliers/{id}:
    get:
      tags: [Suppliers]
      operationId: getSupplier
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: ERPNext Supplier document name
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supplier'
    put:
      tags: [Suppliers]
      operationId: updateSupplier
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSupplierRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supplier'
    delete:
      tags: [Suppliers]
      operationId: deleteSupplier
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Deleted

  /inventory/supplier-groups:
    get:
      tags: [Supplier Groups]
      operationId: listSupplierGroups
      summary: List supplier groups for the tenant
      responses:
        '200':
          description: Supplier groups
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupplierGroup'
    post:
      tags: [Supplier Groups]
      operationId: createSupplierGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSupplierGroupRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierGroup'

  /inventory/supplier-groups/{id}:
    put:
      tags: [Supplier Groups]
      operationId: updateSupplierGroup
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSupplierGroupRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierGroup'
    delete:
      tags: [Supplier Groups]
      operationId: deleteSupplierGroup
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Deleted

  /inventory/products:
    get:
      tags: [Products]
      operationId: listProducts
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: search
          in: query
          schema:
            type: string
        - name: category
          in: query
          schema:
            type: string
            description: ERPNext Item Group name
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/ProductStatus'
        - name: manufacturer_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'
    post:
      tags: [Products]
      operationId: createProduct
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDetail'
        '409':
          description: Duplicate PPB/NDC

  /inventory/products/drafts:
    post:
      tags: [Products]
      operationId: saveProductDraft
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductDraftRequest'
      responses:
        '201':
          description: Draft saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDraft'

  /inventory/products/drafts/{draft_id}:
    get:
      tags: [Products]
      operationId: getProductDraft
      parameters:
        - $ref: '#/components/parameters/DraftIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDraft'
    patch:
      tags: [Products]
      operationId: updateProductDraft
      parameters:
        - $ref: '#/components/parameters/DraftIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductDraftRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDraft'

  /inventory/products/{product_id}:
    get:
      tags: [Products]
      operationId: getProduct
      parameters:
        - $ref: '#/components/parameters/ProductIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDetail'
    patch:
      tags: [Products]
      operationId: updateProduct
      parameters:
        - $ref: '#/components/parameters/ProductIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDetail'
    delete:
      tags: [Products]
      operationId: deleteProduct
      parameters:
        - $ref: '#/components/parameters/ProductIdParam'
      responses:
        '204':
          description: Deleted

  /inventory/sales:
    get:
      tags: [Sales]
      operationId: getSalesReport
      summary: Sales report aggregated by product and month
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date
            description: Inclusive start date (YYYY-MM-DD)
        - name: to
          in: query
          schema:
            type: string
            format: date
            description: Inclusive end date (YYYY-MM-DD)
        - name: status
          in: query
          schema:
            type: string
            description: Invoice status filter (e.g. submitted, draft, Paid)
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Paginated sales analytics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesReportResponse'

  /inventory/stock-report:
    get:
      tags: [Stock]
      operationId: getStockReport
      summary: Flat stock report by product and batch
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: search
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
        - name: expiring_within_days
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Paginated stock report rows
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockReportResponse'

  /inventory/revenue:
    get:
      tags: [Revenue]
      operationId: getRevenueReport
      summary: Revenue dashboard KPIs with Rx/OTC split
      parameters:
        - name: days
          in: query
          schema:
            type: integer
            description: Rolling window in days (30, 90, or custom)
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
        - name: status
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Revenue dashboard metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueReportResponse'

  /inventory/reports/revenue-analytics:
    get:
      tags: [Reports]
      operationId: getRevenueAnalytics
      summary: KPI cards with period-over-period change (revenue, gross/net profit, margin)
      description: |
        `total_revenue` = sum of invoice grand_total.
        `gross_profit` = line amounts − qty × average batch unit cost.
        `net_profit` = gross_profit − sum of total_taxes_and_charges.
        `gross_profit_margin` = (gross_profit / total_revenue) × 100.
        Change % compares the selected window to the immediately preceding window of equal length.
      parameters:
        - $ref: '#/components/parameters/ReportFromParam'
        - $ref: '#/components/parameters/ReportToParam'
        - $ref: '#/components/parameters/ReportDateAliasParam'
        - $ref: '#/components/parameters/ReportDaysParam'
      responses:
        '200':
          description: Revenue analytics KPI cards
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueAnalyticsResponse'

  /inventory/reports/revenue-trends:
    get:
      tags: [Reports]
      operationId: getRevenueTrends
      summary: Daily revenue/profit/units series
      parameters:
        - $ref: '#/components/parameters/ReportFromParam'
        - $ref: '#/components/parameters/ReportToParam'
        - $ref: '#/components/parameters/ReportDateAliasParam'
        - $ref: '#/components/parameters/ReportDaysParam'
        - name: metric
          in: query
          schema:
            type: string
            enum: [revenue, profit, units]
            default: revenue
          description: Primary chart metric (all three values are always returned per day)
      responses:
        '200':
          description: Daily time series
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueTrendsResponse'

  /inventory/reports/revenue-by-category:
    get:
      tags: [Reports]
      operationId: getRevenueByCategory
      summary: Top categories by sales revenue
      parameters:
        - $ref: '#/components/parameters/ReportFromParam'
        - $ref: '#/components/parameters/ReportToParam'
        - $ref: '#/components/parameters/ReportDateAliasParam'
        - $ref: '#/components/parameters/ReportDaysParam'
        - name: limit
          in: query
          schema:
            type: integer
            default: 5
            maximum: 100
      responses:
        '200':
          description: Category revenue breakdown
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueByCategoryResponse'

  /inventory/reports/top-selling-products:
    get:
      tags: [Reports]
      operationId: getTopSellingProducts
      summary: Top products by units sold
      parameters:
        - $ref: '#/components/parameters/ReportFromParam'
        - $ref: '#/components/parameters/ReportToParam'
        - $ref: '#/components/parameters/ReportDateAliasParam'
        - $ref: '#/components/parameters/ReportDaysParam'
        - name: limit
          in: query
          schema:
            type: integer
            default: 5
            maximum: 100
      responses:
        '200':
          description: Ranked top-selling products
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopSellingProductsResponse'

  /inventory/reports/revenue-by-payment-method:
    get:
      tags: [Reports]
      operationId: getRevenueByPaymentMethod
      summary: Revenue breakdown by payment method
      parameters:
        - $ref: '#/components/parameters/ReportFromParam'
        - $ref: '#/components/parameters/ReportToParam'
        - $ref: '#/components/parameters/ReportDateAliasParam'
        - $ref: '#/components/parameters/ReportDaysParam'
      responses:
        '200':
          description: Payment method share and trend
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueByPaymentMethodResponse'

  /inventory/reports/transaction-types:
    get:
      tags: [Reports]
      operationId: getTransactionTypes
      summary: Monthly OTC vs prescription transaction counts
      parameters:
        - $ref: '#/components/parameters/ReportFromParam'
        - $ref: '#/components/parameters/ReportToParam'
        - $ref: '#/components/parameters/ReportDateAliasParam'
        - $ref: '#/components/parameters/ReportDaysParam'
      responses:
        '200':
          description: Monthly Rx/OTC transaction counts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionTypesResponse'

  /inventory/reports/revenue-overview:
    get:
      tags: [Reports]
      operationId: getRevenueOverview
      summary: Paginated product revenue table
      parameters:
        - $ref: '#/components/parameters/ReportFromParam'
        - $ref: '#/components/parameters/ReportToParam'
        - $ref: '#/components/parameters/ReportDateAliasParam'
        - $ref: '#/components/parameters/ReportDaysParam'
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            default: 10
            maximum: 100
        - name: category
          in: query
          schema:
            type: string
          description: Optional category filter (case-insensitive)
      responses:
        '200':
          description: Paginated product revenue rows
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueOverviewResponse'

  /inventory/products/{product_id}/batches:
    get:
      tags: [Batches]
      operationId: listBatches
      parameters:
        - $ref: '#/components/parameters/ProductIdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/BatchStatus'
        - name: sort
          in: query
          schema:
            type: string
            enum: [fefo, lifo, created_at]
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchListResponse'
    post:
      tags: [Batches]
      operationId: addBatch
      summary: Add batch (JSON) or bulk CSV (multipart)
      description: |
        **application/json** → response body is a single `Batch`.

        **multipart/form-data** (`file` required) → response body is **`BatchBulkUploadResult`**
        (manifest of created rows + per-row failures).

        **Stock integrity:** `quantity` must be greater than 0. Each successful batch creates an ERPNext
        Batch and submits a **Material Receipt** Stock Entry to book stock into Bin at `storage_location`
        (or the tenant default warehouse). Returns **400** when quantity is null, zero, or negative.
      parameters:
        - $ref: '#/components/parameters/ProductIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBatchRequest'
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: JSON returns **Batch**; CSV returns **BatchBulkUploadResult**
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Batch'
                  - $ref: '#/components/schemas/BatchBulkUploadResult'

  /inventory/products/{product_id}/batches/{batch_id}:
    get:
      tags: [Batches]
      operationId: getBatch
      parameters:
        - $ref: '#/components/parameters/ProductIdParam'
        - $ref: '#/components/parameters/BatchIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
    delete:
      tags: [Batches]
      operationId: removeBatch
      summary: Remove batch and reverse stock
      description: |
        Deletes the ERPNext Batch record. When batch quantity is greater than 0, submits a
        **Material Issue** Stock Entry first to reverse stock from the batch warehouse before deletion.
      parameters:
        - $ref: '#/components/parameters/ProductIdParam'
        - $ref: '#/components/parameters/BatchIdParam'
      responses:
        '204':
          description: Removed

  /inventory/products/{product_id}/adjustments:
    get:
      tags: [Stock Adjustments]
      operationId: listAdjustments
      parameters:
        - $ref: '#/components/parameters/ProductIdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdjustmentListResponse'
    post:
      tags: [Stock Adjustments]
      operationId: adjustStock
      summary: Submit stock adjustment for batch
      parameters:
        - $ref: '#/components/parameters/ProductIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StockAdjustmentRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockAdjustment'

  /terminology/search:
    get:
      tags: [Terminology Service]
      operationId: searchTerminology
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
            minLength: 2
        - name: manufacturer_id
          in: query
          schema:
            type: string
            format: uuid
        - name: source
          in: query
          schema:
            type: string
            enum: [rxnorm, ppb_ndc, all]
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminologySearchResponse'

  /terminology/products/{terminology_id}:
    get:
      tags: [Terminology Service]
      operationId: getTerminologyProduct
      parameters:
        - name: terminology_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminologyProduct'

  /manufacturers:
    get:
      tags: [Manufacturers]
      operationId: listManufacturers
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - name: search
          in: query
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Manufacturer'

  /inventory/meta/suppliers:
    get:
      tags: [Metadata]
      operationId: listSupplierMeta
      summary: List active suppliers for dropdown pickers
      description: |
        Lightweight supplier lookup for product create, batch receipt, and purchase order forms.
        Returns only **active** suppliers (`disabled = 0`), up to 200 rows.
        Response uses snake_case (`supplier_name`) inside the `data` envelope.
      responses:
        '200':
          description: Active suppliers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierMetaListResponse'

  /inventory/purchase-orders:
    get:
      tags: [Purchase Orders]
      operationId: listPurchaseOrders
      summary: List purchase orders for the tenant
      description: |
        Response bodies use **camelCase** JSON properties (matches runtime Java records).
        Send **`X-Tenant-Id`** when the JWT does not carry tenant context (see implementation map).
      responses:
        '200':
          description: Purchase orders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PurchaseOrderResponse'
    post:
      tags: [Purchase Orders]
      operationId: createPurchaseOrder
      summary: Create a purchase order in ERPNext
      description: Request body uses **camelCase** JSON properties.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePurchaseOrderRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseOrderResponse'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    ProductIdParam:
      name: product_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    BatchIdParam:
      name: batch_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    DraftIdParam:
      name: draft_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    PageParam:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
    LimitParam:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
    ReportFromParam:
      name: from
      in: query
      schema:
        type: string
        format: date
      description: Inclusive start date (YYYY-MM-DD). Also accepts DD-MM-YYYY.
    ReportToParam:
      name: to
      in: query
      schema:
        type: string
        format: date
      description: Inclusive end date (YYYY-MM-DD). Also accepts DD-MM-YYYY.
    ReportDateAliasParam:
      name: date
      in: query
      schema:
        type: string
      description: |
        Design-style date alias. Single day (`01-02-2026` or `2026-02-01`) or
        comma-separated range (`01-02-2026,28-02-2026`). Overrides from/to when present.
    ReportDaysParam:
      name: days
      in: query
      schema:
        type: integer
        minimum: 1
      description: Rolling window in days when from/to/date are omitted (default 30)

  schemas:
    ProductCategory:
      type: string
      description: ERPNext Item Group name (use GET /inventory/categories to list valid values)

    Category:
      type: object
      properties:
        id: {type: string}
        name: {type: string}
        parent_category: {type: string, nullable: true}
        is_group: {type: boolean, nullable: true}

    CreateCategoryRequest:
      type: object
      required: [name]
      properties:
        name: {type: string}
        parent_category: {type: string, nullable: true}
        is_group: {type: boolean, nullable: true}

    UpdateCategoryRequest:
      type: object
      properties:
        name: {type: string}
        parent_category: {type: string, nullable: true}
        is_group: {type: boolean, nullable: true}

    CategoryListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Category'

    Supplier:
      type: object
      properties:
        id: { type: string, description: ERPNext Supplier document name }
        supplierName: { type: string }
        supplierGroup: { type: string }
        supplierType: { type: string, enum: [Company, Individual] }
        registrationNumber: { type: string, description: PPB / facility registration (ERPNext tax_id) }
        country: { type: string }
        email: { type: string }
        phone: { type: string }
        county: { type: string }
        street: { type: string }
        licenseNumber: { type: string }
        licenseType: { type: string }
        licenseValidity: { type: string }
        ownership: { type: string }
        notes: { type: string }
        details: { type: string, description: Raw supplier_details text from ERPNext }
        disabled: { type: boolean }
        status: { type: string, enum: [Active, Disabled] }
        createdBy: { type: string }
        modifiedBy: { type: string }
        createdAt: { type: string }
        modifiedAt: { type: string }

    CreateSupplierRequest:
      type: object
      required: [supplierName]
      properties:
        supplierName: { type: string }
        supplierGroup: { type: string }
        supplierType: { type: string, enum: [Company, Individual] }
        registrationNumber: { type: string }
        licenseNumber: { type: string }
        licenseType: { type: string }
        licenseValidity: { type: string }
        ownership: { type: string }
        email: { type: string, format: email }
        phone: { type: string }
        county: { type: string }
        street: { type: string }
        country: { type: string }
        notes: { type: string }
        disabled: { type: boolean }

    SupplierPage:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Supplier'
        page: { type: integer }
        size: { type: integer }
        hasNext: { type: boolean }
        hasPrevious: { type: boolean }

    SupplierGroup:
      type: object
      properties:
        id: { type: string, description: ERPNext Supplier Group document name }
        name: { type: string }
        parent: { type: string }
        isGroup: { type: boolean }

    CreateSupplierGroupRequest:
      type: object
      required: [name]
      properties:
        name: { type: string }
        parent: { type: string, description: Parent supplier group; defaults to configured root when omitted }

    SupplierMetaOption:
      type: object
      properties:
        name: { type: string, description: ERPNext Supplier document name }
        supplier_name: { type: string, description: Display name }

    SupplierMetaListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SupplierMetaOption'

    ProductStatus:
      type: string
      enum:
        [draft, available, low_stock, out_of_stock, controlled, recalled, expiring_soon, unknown]

    BatchStatus:
      type: string
      enum:
        [available, active, expired, recalled, quarantine, unavailable]

    Pagination:
      type: object
      properties:
        page: {type: integer}
        limit: {type: integer}
        total: {type: integer}
        total_pages: {type: integer}

    Manufacturer:
      type: object
      properties:
        id: {type: string, format: uuid}
        name: {type: string}
        country: {type: string, nullable: true}
        is_active: {type: boolean}

    DraftData:
      description: >-
        Partial **CreateProductRequest** snapshot; omit properties not yet populated.
        Mirrors CreateProduct field names (snake_case).
      type: object
      additionalProperties: true

    ProductDraftRequest:
      type: object
      required:
        - wizard_step
      properties:
        wizard_step:
          type: integer
          enum: [1, 2, 3, 4]
        data:
          $ref: '#/components/schemas/DraftData'

    CreateProductRequest:
      type: object
      properties:
        product_name: {type: string}
        generic_name: {type: string}
        manufacturer_id: {type: string, format: uuid, nullable: true}
        category:
          $ref: '#/components/schemas/ProductCategory'

    ProductDraft:
      type: object
      properties:
        id: {type: string, format: uuid}
        wizard_step: {type: integer, enum: [1,2,3,4]}
        data:
          $ref: '#/components/schemas/CreateProductRequest'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    UpdateProductRequest:
      type: object
      additionalProperties: true

    ProductSummary:
      type: object
      additionalProperties: true

    ProductDetail:
      allOf:
        - $ref: '#/components/schemas/ProductSummary'
        - type: object
          additionalProperties: true

    ProductListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ProductSummary'
        pagination:
          $ref: '#/components/schemas/Pagination'

    SalesReportResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SalesRow'
        pagination:
          $ref: '#/components/schemas/Pagination'
        summary:
          $ref: '#/components/schemas/SalesSummary'

    SalesRow:
      type: object
      properties:
        period: { type: string, example: "2026-01" }
        product_id: { type: string, format: uuid }
        product_name: { type: string }
        generic_name: { type: string }
        category: { type: string }
        units_sold: { type: integer }
        revenue: { type: number, format: double }
        currency: { type: string, example: KES }

    SalesSummary:
      type: object
      properties:
        total_revenue: { type: number, format: double }
        total_units: { type: integer }
        currency: { type: string, example: KES }

    StockReportResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/StockReportRow'
        pagination:
          $ref: '#/components/schemas/Pagination'

    StockReportRow:
      type: object
      properties:
        product_name: { type: string }
        batch_number: { type: string }
        available_stock: { type: number, format: double }
        unit_price: { type: number, format: double }
        stock_value: { type: number, format: double }
        expiry_date: { type: string, format: date }
        status: { type: string }
        out_of_stock_date: { type: string, format: date }
        reorder_level: { type: number, format: double }
        days_out_of_stock: { type: integer, format: int64 }

    RevenueReportResponse:
      type: object
      properties:
        period:
          type: object
          properties:
            from: { type: string, format: date }
            to: { type: string, format: date }
            days: { type: integer }
        total_revenue: { type: number, format: double }
        total_transactions: { type: integer, format: int64 }
        avg_order_value: { type: number, format: double }
        prescription_transactions:
          $ref: '#/components/schemas/TransactionBucket'
        otc_transactions:
          $ref: '#/components/schemas/TransactionBucket'
        currency: { type: string, example: KES }

    TransactionBucket:
      type: object
      properties:
        count: { type: integer, format: int64 }
        revenue: { type: number, format: double }

    MoneyMetricCard:
      type: object
      properties:
        value: { type: number, format: double }
        currency: { type: string, example: KES }
        change_pct: { type: number, format: double }
        trend: { type: string, enum: [up, down, flat] }

    PercentMetricCard:
      type: object
      properties:
        value: { type: number, format: double }
        unit: { type: string, example: "%" }
        change_pct: { type: number, format: double }
        trend: { type: string, enum: [up, down, flat] }

    RevenueAnalyticsResponse:
      type: object
      properties:
        total_revenue:
          $ref: '#/components/schemas/MoneyMetricCard'
        gross_profit:
          $ref: '#/components/schemas/MoneyMetricCard'
        net_profit:
          $ref: '#/components/schemas/MoneyMetricCard'
        gross_profit_margin:
          $ref: '#/components/schemas/PercentMetricCard'

    TrendSeriesPoint:
      type: object
      properties:
        date: { type: string, format: date }
        revenue: { type: number, format: double }
        profit: { type: number, format: double }
        units: { type: integer, format: int64 }

    RevenueTrendsResponse:
      type: object
      properties:
        metric: { type: string, enum: [revenue, profit, units] }
        series:
          type: array
          items:
            $ref: '#/components/schemas/TrendSeriesPoint'

    CategoryRevenue:
      type: object
      properties:
        category: { type: string }
        revenue: { type: number, format: double }

    RevenueByCategoryResponse:
      type: object
      properties:
        total: { type: number, format: double }
        currency: { type: string, example: KES }
        categories:
          type: array
          items:
            $ref: '#/components/schemas/CategoryRevenue'

    TopProduct:
      type: object
      properties:
        rank: { type: integer }
        product_id: { type: string, format: uuid }
        name: { type: string }
        units_sold: { type: integer, format: int64 }
        revenue: { type: number, format: double }
        currency: { type: string, example: KES }
        trend: { type: string, enum: [up, down, flat] }

    TopSellingProductsResponse:
      type: object
      properties:
        products:
          type: array
          items:
            $ref: '#/components/schemas/TopProduct'

    PaymentMethodBreakdown:
      type: object
      properties:
        method: { type: string, example: mpesa }
        value: { type: number, format: double }
        pct: { type: number, format: double }
        change_pct: { type: number, format: double }
        trend: { type: string, enum: [up, down, flat] }

    RevenueByPaymentMethodResponse:
      type: object
      properties:
        total: { type: number, format: double }
        currency: { type: string, example: KES }
        methods:
          type: array
          items:
            $ref: '#/components/schemas/PaymentMethodBreakdown'

    TransactionTypeMonth:
      type: object
      properties:
        month: { type: string, example: "2026-01" }
        otc: { type: integer, format: int64 }
        prescription: { type: integer, format: int64 }

    TransactionTypesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/TransactionTypeMonth'

    RevenueOverviewRow:
      type: object
      properties:
        period: { type: string, example: "2026-01" }
        product_id: { type: string, format: uuid }
        product_name: { type: string }
        product_subtitle: { type: string }
        category: { type: string }
        revenue: { type: number, format: double }
        currency: { type: string, example: KES }
        units_sold: { type: integer, format: int64 }
        avg_price: { type: number, format: double }

    RevenueOverviewResponse:
      type: object
      properties:
        page: { type: integer }
        page_size: { type: integer }
        total_pages: { type: integer, format: int64 }
        total_records: { type: integer, format: int64 }
        data:
          type: array
          items:
            $ref: '#/components/schemas/RevenueOverviewRow'

    Batch:
      type: object
      additionalProperties: true

    CreateBatchRequest:
      type: object
      additionalProperties: true

    BatchListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Batch'
        pagination:
          $ref: '#/components/schemas/Pagination'

    BatchBulkUploadResult:
      type: object
      properties:
        total_rows: {type: integer}
        success_count: {type: integer}
        error_count: {type: integer}
        errors:
          type: array
          items:
            type: object
        created_batches:
          type: array
          items:
            $ref: '#/components/schemas/Batch'

    StockAdjustmentRequest:
      type: object
      additionalProperties: true

    StockAdjustment:
      type: object
      additionalProperties: true

    AdjustmentListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/StockAdjustment'
        pagination:
          $ref: '#/components/schemas/Pagination'

    PurchaseOrderLineItem:
      type: object
      required: [itemCode, qty]
      properties:
        itemCode:
          type: string
          description: ERPNext Item code
        qty:
          type: number
          format: double
          minimum: 0
          exclusiveMinimum: true
        rate:
          type: number
          format: double
          description: Unit rate (optional)

    CreatePurchaseOrderRequest:
      type: object
      required: [supplier, items]
      properties:
        supplier:
          type: string
          description: ERPNext Supplier document name
        transactionDate:
          type: string
          description: Transaction date YYYY-MM-DD
        scheduleDate:
          type: string
          description: Expected delivery date YYYY-MM-DD
        notes:
          type: string
        items:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/PurchaseOrderLineItem'

    PurchaseOrderResponse:
      type: object
      properties:
        id: { type: string, description: ERPNext Purchase Order name }
        poNumber: { type: string }
        supplier: { type: string }
        orderDate: { type: string }
        expectedDate: { type: string }
        receivedDate: { type: string, nullable: true }
        status: { type: string }
        items: { type: integer, description: Line item count }
        totalAmount: { type: number, format: double }

    TerminologySearchResponse:
      type: object
      additionalProperties: true

    TerminologyProduct:
      type: object
      additionalProperties: true

    Error:
      type: object
      properties:
        code: {type: string}
        message: {type: string}
        details:
          type: object
          nullable: true
